.bg {
    background: white;
    max-height: 70px;
    z-index: -1;
}

.sth {
    background: white;
    /* max-height: 70px; */
    z-index: -1;
}
.vw3-top {
    /* background-color: white; */
    max-width: 1250px;
    margin: auto;
    left: 0;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 80px;
    top: 0;
    z-index: 1;
}

/* @media only screen and (min-width: 1200px) {
    .vw3-top {
        padding: 0;
        border: 0;
        background-color: lightgreen;
        background-size: 300px 100px;
        position: relative;
        top: 0;
        z-index: 1
    }
  } */

.body {
    max-width: 1250px;
    margin: auto;
    position: relative;
    margin-bottom: 5%;
    min-height: 100vh;
}

.footer {
    position: relative;
    margin-bottom: 0;
    width: 100%;
}

.vheader {
    /* color: red; */
    margin-top: 3%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    -ms-interpolation-mode: bicubic;
    /* shape-outside:  */
}

.content {
    text-align: left;
    display: block;
    /* font-size: 1.1em; */
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    text-align: center;
    display: block;
    font-size: 2em;
    /* margin-top: 0.67em;
    margin-bottom: 0.67em; */
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

div {
    text-align: center;
    display: block;
    font-size: 1.02em;
}

.author {
    text-align: right;
    display: block;
    font-size: 1em;
    /* margin-top: 0.67em;
    margin-bottom: 0.67em; */
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.date {
    text-align: left;
    display: block;
    font-size: 1em;
    /* margin-top: 5%;
    margin-bottom: 0.67em; */
    margin-left: 0;
    margin-right: 0;
}

.w3-button:hover {
    color: white!important; 
    background: linear-gradient(to right,black, black)!important;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.nav_gradient {
    /* background: #0F2027; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: aqua
}

.section_1 {
    background: #159957;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
}

.section_2 {
    background: #C33764;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: justify;
}